# ── useSend (contact form email) ──────────────────────────────────
NUXT_USESEND_API_KEY=us_12345
NUXT_FROM_EMAIL=hello@company.com
NUXT_CONTACT_EMAIL=herold@example.com

# ── Nixpacks / Production ───────────────────────────────────────
NODE_ENV=production

# ── DIRECTUS ───────────────────────────────────────
DIRECTUS_URL=https://url-to.directus.app
DIRECTUS_ADMIN_TOKEN=admin_token_required_for_typegen

# ── UMAMI ANALYTICS ──────────────────────────────
NUXT_UMAMI_HOST=https://umami.aplix.nl
NUXT_UMAMI_ID=website_id_from_umami
